<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<!-- Footer -->
	<footer class="page-footer font-small blue fixed-bottom" th:fragment="footer">
		
		<!-- Copyright -->
		<div class="footer-copyright text-center py-3">
			<a href="https://github.com/lucasdistasi/spring-jpa-login" target="_blank"> JPA Spring Boot Login</a> |
			<a href="https://mdbootstrap.com/bootstrap-tutorial/" target="_blank"> MDBootstrap.com</a>
		</div>
		<!-- Copyright -->
		
	</footer>
	<!-- Footer -->

</body>
</html>